{% extends "blog/layout.html" %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %}
    <div class="main">
        <div class="pp_image">
            <img height="150px" width="150px" style="border-radius:50% ; " src="{{ user.profile.image.url }}" alt="" srcset="">
        </div>
        <div class="links">
            <h1>{{ user.username }}</h1>
            <h3>{{ user.email }}</h3>
        </div>
        {% if user.is_authenticated %}
          <div class="submit_btn" >
            <a href="{% url 'update-profile'%}"><button class="btn btn-primary submit" type="submit">Update</button></a>
        </div>
          {% endif %}
    <hr class="line">
    </div>
    {% endif %}
    {% if user.is_authenticated %}
    <div class="main">
      <div class="profile_image">
        <img height="55px" width="55px" style="border-radius:30px ; float: left;" src="{{ user.profile.image.url }}" alt="" srcset="">
        <textarea placeholder="What's Happening" style="padding: 10px; border: hidden; font-size: 20px;" class="input_box" cols="40" rows="1"></textarea>
      </div>
      <div class="links">
        <a class="posting_emoji" style="margin: 0 10px 0 65px; font-size: 20px;" href=""><i class="fa-regular fa-image"></i></a>
        <a class="posting_emoji" style="margin: 0 8px 0 8px; font-size: 20px;" href=""><i class="fa-solid fa-gift"></i></a>
        <a class="posting_emoji" style="margin: 0 8px 0 8px; font-size: 20px;" href=""><i class="fa-solid fa-square-poll-horizontal"></i></a>
        <a class="posting_emoji" style="margin: 0 8px 0 8px; font-size: 20px;" href=""><i class="fa-regular fa-face-smile"></i></a>
        <a class="posting_emoji" style="margin: 0 8px 0 8px; font-size: 20px;" href=""><i class="fa-regular fa-calendar"></i></a>
        <a class="posting_emoji" style="margin: 0 8px 0 8px; font-size: 20px;" href=""><i class="fa-solid fa-location-dot"></i></a>
        <a href="home.php" class="tweet" style="margin-top: 15px; ">Tweet</a>
      </div>
      <hr class="line">
    </div>
    {% endif %}
    {% for post in posts %}
    <div class="posts">
      <div class="profile_image">
        <img height="55px" width="55px" style="border-radius:30px ; float: left;" src="{{ post.author.profile.image.url }}" alt="" srcset="">
        <p><b>{{post.author.username}}</b>  . {{ post.time_now|date:"F d, Y" }}<div class="submit_btn" style="margin-left: 70%;">
          <a href="{% url 'update-post' post.id%}"><button class="btn btn-primary submit" type="submit">Update</button></a>
          <a href="{% url 'delete-post' post.id%}"><button class="btn btn-danger submit" type="submit">Delete</button></a>
      </div></p>
        <p>{{ post.caption }}</p>
      </div>
      <div class="post_image">
        <img height="550" width="500px" style="border-radius:30px ;margin-left: 12%;" src="{{ post.post_image.url }}" alt="" srcset="">
      </div>
      {% if user.is_authenticated %}
      <div class="likcom" style="margin-top: 15px;">
        <a href="" class="likes "><i class="fa-regular fa-comment comment"></i></a> &nbsp3
        <a href="" class="likes "><i class="fa-solid fa-retweet retweet"></i></a> &nbsp3
        <a href="" class="likes "><i class="fa-regular fa-heart like"></i></a> &nbsp151
        <a href="" class="likes "><i class="fa-solid fa-arrow-up-from-bracket share"></i></a>
      </div>
      {% else %}
      <div class="likcom" style="margin-top: 15px;">
        <i class="fa-regular fa-comment comment likes"></i> &nbsp3
        <i class="fa-solid fa-retweet retweet likes"></i> &nbsp3
        <i class="fa-regular fa-heart like likes"></i> &nbsp151
        <i class="fa-solid fa-arrow-up-from-bracket likes share"></i>
      </div>
      {% endif %}
      <hr class="postline">
    </div>
    {% endfor %}
    
{% endblock content %}